<a name="pledge"/>

<% form_for :supporter, :html => {:id => 'new_supporter' }, :url => { :controller => "supporters", :action => "create" } do |f| %>

    <div id="pledges" class="supporter_form">
      <h2>Pledge your support!</h2>

      <p>
        <%= f.check_box :now %>
        <%= f.label :now, "Now: I pledge to wipe my butt with recycled toilet paper only. Next time I buy toilet paper for my household, I’ll put the onus on myself to choose a recycled type of toilet paper." %>
        <br/>
      </p>

      <p>
        <%= f.check_box :by_2014 %>
        <%= f.label :by_2014, "By 2014: I pledge my support for my supermarket and workplace to phase out non-recycled toilet paper by 2014. I’m happy to get softness and affordability, but it needs to be recycled." %>
        <br/>
      </p>

    </div>
    <div id="supporter_details" class="supporter_form">
      <p>
        <%= f.label :name %> <br/>
        <%= f.text_field :name, :class => "required" %>
      </p>

      <p>
        <%= f.label :postcode %><br/>
        <%= f.text_field :postcode, :class => "required" %>
      </p>

      <p>
        <%= f.label :email %><br/>
        <%= f.text_field :email, :class => "required email" %>
      </p>

      <p>
        <%= f.check_box :accept_more_info %>
        <%= f.label :accept_more_info, "Click here to keep up to date with the campaign", :class => "supporter_accept_more" %>
        <br/>
      </p>

      <%= image_submit_tag('submit_button_new.png') %>

    </div>
<% end %>
