<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Wipe It Out!</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'jquery', 'jquery.validate', 'application' %>
  <%= yield(:head) %>
</head>

<body>

<div id="main">

  <div class="centre">
    <div id="navigation">
      <ul>
        <li class="list_padding"/>
        <li><a href="http://wipeitout.com.au/home">What is Wipe It Out!</a></li>
        <li><a href="http://wipeitout.com.au/facts">Q and A</a></li>
        <li><a href="http://wipeitout.com.au/onboard">Who's on Board</a></li>
        <li><a href="http://wipeitout.com.au/poms">Those Poms</a></li>
        <li><a href="http://wipeitout.com.au/whattobuy">What to Buy</a></li>
        <li><a href="http://wipeitout.com.au/change">Change is Possible</a></li>
        <li><a href="http://wipeitout.com.au/partners">Partners</a></li>
      </ul>
    </div>

    <div id="content">
      <%= yield %>
    </div>
  </div>

  <div id="footer">
    <%= render :partial => 'layouts/footer' %>
  </div>
  <div id="social">
    <%= render :partial => 'layouts/social' %>
  </div>
</div>

<!-- Start Google Analytics Tag-->
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-10572341-1");
        pageTracker._trackPageview();
    } catch(err) {
    }
</script>
<!-- End Google Analytics Tag-->

</body>
</html>
